nav {
  width: 80%;
  border-radius: 10px;
  color: black;
  margin-left: 10%;
}

#logo {
  margin-left: 5%;
  font-size: 30px;
  font-weight: bolder;
}
li a {
  color: black;
}
#homeLink {
  color: black;
}
#signout {
  background-color: black;
  border-radius: 6px;
  color: white;
}

#loginsignup a {
  color: white;
  text-decoration: none;
}
