section {
  background-color: lightblue;
  width: 100%;
  background-size: cover;
  min-height: 100vh;
}
h3 {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 5px 50px;
}
#forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#btncreate {
  width: 100%;
  margin-top: 20px;
}
.form-group {
  margin-top: 20px;
}
