<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container">
      <a class="navbar-brand" href="#" id="logo">Do Connect User
        
      </a>
  
      <ul class="nav nav-pills">
        <li class="nav-item" >
          <a class="nav-link" routerLink="/admindashboard" id="homeLink">
            <!-- <mat-icon>home</mat-icon> -->
            Dashboard</a>
        </li>

        <li class="nav-item" >
            <a class="nav-link" routerLink="/pendingquestions">
              <!-- <mat-icon>home</mat-icon> -->
              Pending Questions</a>
        </li>

        <li class="nav-item" >
            <a class="nav-link" routerLink="/pendinganswers">
              <!-- <mat-icon>home</mat-icon> -->
              Pending Answers</a>
        </li>

        <li class="nav-item">
            <div id="signout">
                <a class="nav-link" id="signout" *ngIf="_service.isLoggedIn()" (click)="_service.logout()">Signout</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/admin">{{name}} : admin</a>
        </li>
      </ul>
    </div>
  </nav>
  