section {
  background-color: lightblue;
  width: 100%;
  background-size: cover;
  min-height: 100vh;
}
#forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.label {
  margin-left: 20%;
}
button {
  width: 100%;
  margin-top: 20px;
}
.form-group {
  margin-top: 20px;
}
