<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container">
      <a class="navbar-brand" href="#" id="logo">Do Connect User
      </a>
  
      <ul class="nav nav-pills">
        <li class="nav-item" >
          <a class="nav-link" routerLink="/userdashboard" id="homeLink">
            <!-- <mat-icon>home</mat-icon> -->
            Create Question</a>
        </li>

        <li class="nav-item" >
            <a class="nav-link" routerLink="/searchquestion">
              <!-- <mat-icon>home</mat-icon> -->
              Search Questions</a>
        </li>

        <li class="nav-item" >
            <a class="nav-link" routerLink="/chatwithus">
              <!-- <mat-icon>home</mat-icon> -->
              Chat With Us</a>
        </li>

        <li class="nav-item">
            <div id="signout">
                <a class="nav-link" id="signout" *ngIf="_service.isLoggedIn()" (click)="_service.logout()">Signout</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/admin">{{name}}</a>
        </li>
      </ul>
    </div>
  </nav>