section {
  background-color: lightblue;
  width: 100%;
  background-size: cover;
  min-height: 100vh;
}
#forms {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#vertical {
  border-left: 6px solid black;
  height: 500px;
}

.label {
  margin-left: 20%;
}
button {
  width: 100%;
  margin-top: 20px;
}
.form-group {
  margin-top: 20px;
}
#admin {
  text-decoration: none;
  color: black;
  border: none;
}
