nav{
    width: 80%;
    border-radius: 10px;
    color: black;
    margin-left: 10%;
}

#logo{
    margin-left: 5%;
    font-size: 30px;
    font-weight: bolder;
}
#homeLink{
    color: black;
}
.loginsignup {
    background-color: black;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
.loginsignup a{
    color: white;
    text-decoration: none;
}

