<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <div class="container">
    <a class="navbar-brand" href="#" id="logo">Do Connect User </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" id="homeLink">
          <!-- <mat-icon>home</mat-icon> -->
          Home</a
        >
      </li>
      <li class="nav-item">
        <div id="loginsignup">
          <a class="nav-link" routerLink="/loginsignupuser">Login</a>
          <a class="nav-link">/</a>
          <a class="nav-link" routerLink="/loginsignupuser">SignUp</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
