<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container">
      <a class="navbar-brand" href="#" id="logo">Do Connect User
        
      </a>
  
      <ul class="nav nav-pills">
        <li class="nav-item" >
          <a class="nav-link" routerLink="/home" id="homeLink">
            <!-- <mat-icon>home</mat-icon> -->
            Home</a>
        </li>
        <li class="nav-item loginsignup">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item loginsignup">
          <a class="nav-link" routerLink="/signup">SignUp</a>
        </li>
      </ul>
    </div>
  </nav>
  